@model List<DO_AN.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/views/layoutpage.cshtml";
}
<div>   
    <div class="row text-center" style="margin:20px">
        @foreach (var item in Model)
        {
            <div class="col-md-3 product-item mb-4">
                <a href="@Url.Action("ChiTietQuanAoPartial", "QuanAo", new { id = @item.MaSanPham})" class="btn">
                    <div class="product-card shadow-sm border">
                        <img class="product-image mx-auto d-block" src="@Url.Content("~/HinhAnhSP/" + item.AnhBia)" alt="Product Image" />

                        <div class="product-info p-3">
                            <p class="mb-1 font-weight-bold text-dark" style="font-size: 1rem;">@item.TenSanPham</p>
                            <p class="text-muted" style="font-size: 1.2rem;">@item.GiaBan đ</p>
                            <p class="mb-1 font-weight-bold text-muted" style="font-size: 0.75rem;">@item.LoaiSanPham.TenLoai</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<style>
    .product-item {
        transition: transform 0.3s;
    }

        .product-item:hover {
            transform: scale(1.05);
        }

    .product-card {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        padding: 0.5rem;
    }

    .product-image {
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: contain;
        margin-bottom: 1rem;
    }

    .btn-detail {
        background-color: #d1d1d1;
        border: 1px solid #ccc;
        color: #333;
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;
        text-transform: uppercase;
    }

        .btn-detail:hover {
            background-color: #b0b0b0;
        }
</style>

